<div class="parallax-scroll parallax-scroll--{{ variant|replace({'_':'-'}) }}" data-image-count={{ images|length }}>

  {% if variant == 'two_column' %}
    <div class="parallax-scroll__container">
  {% endif %}

    <div class="parallax-scroll__images {{ variant == 'background' ? 'parallax-scroll__background' }}">
      {% for key, image in images %}
        <div class="parallax-scroll__image" data-image-no="{{ key + 1 }}">
          {{ image }}
        </div>
      {% endfor %}
    </div>

    <div class="parallax-scroll__copy">
      {{ include('wateraid:rich_text', {
        text: copy
      }) }}
    </div>

  {% if variant == 'two_column' %}
    </div>
  {% endif %}
</div>
