{% set hero_classes = [
  'hero',
  'hero--' ~ colour,
  'hero--' ~ variant
] %}

<div {{ attributes.addClass(hero_classes) }}>
  {% if image %}
    <div class="hero__image {{ mobile_image|render ? "hero__image--desktop" }}">
      {% if (image_crop_data.x is not null) and (image_crop_data.y is not null) %}
        {{ include('wateraid:image', {
          image: image,
          caption: media_caption,
          credit: media_credit,
          width: 'full',
          caption_display: 'expandable',
          variant: 'cropped',
          image_crop_data,
        }) }}
      {% else %}
        {{ include('wateraid:image', {
          image: image,
          caption: media_caption,
          credit: media_credit,
          width: 'full',
          caption_display: 'expandable'
        }) }}
      {% endif %}
    </div>
  {% endif %}

  <div class="hero__content-wrapper">
  {% if donate_widget %}
    <div class="hero__donate">
      {{ donate_widget }}
    </div>
  {% endif %}

  {% if quote %}
    <div class="hero__quote">
      {{ include('wateraid:quote', {
        quote: quote,
        citation: quote_citation,
        type: 'text_only',
      }) }}
    </div>
  {% endif %}
  </div>
</div>
