{% set listing_classes = [
  'listing',
  'listing--default'
] %}

<div {{ attributes.addClass(listing_classes) }}>
  <div class="listing__header">
    {{ header }}
  </div>

  <div class="listing__wrapper">
    <div class="listing__wrapper--button">
      {{ include('wateraid:button', {
        text: 'Show filters',
        link: '',
        id: 'show-filters',
        type: 'secondary',
        icon: 'wa-utility-tune',
        theme: 'light',
      }) }}
    </div>

    <div class="listing__filters">
      <div class="listing__filters--button">
        {{ include('wateraid:button', {
          text: 'Hide filters',
          link: '',
          id: 'hide-filters',
          type: 'secondary',
          icon: 'wa-utility-tune',
          theme: 'light',
        }) }}
      </div>

      {{ filters }}
    </div>

    <div class="listing__content">
      {{ rows }}

      <div class="listing__empty">
        {{ empty }}
      </div>

      <div class="listing__pager">
        {{ pager }}
      </div>
    </div>
  </div>


  <div class="listing__footer">
    {{ footer }}
  </div>
</div>
