{% set classes = [
  'listing',
  'listing--search'
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="listing__search">
    {{ search }}
  </div>

  <div class="listing__header">
    {{ header }}
  </div>

  <div class="listing__content">
    {{ rows }}

    <div class="listing__empty">
      {{ empty }}
    </div>

    <div class="listing__pager">
      {{ pager }}
    </div>
  </div>


  <div class="listing__footer">
    {{ footer }}
  </div>
</div>
