{% set tag = heading_level ? heading_level : 'h3' %}
<div class="cancel-anytime">
  <span class="cancel-anytime__icon">{{ include('@wateraid/images/icons/direct-debit.svg') }}</span>
  <{{ tag }} class="cancel-anytime__title pseudo-h3">{{ title }}</{{ tag }}>
  <div class="cancel-anytime__copy">{{ copy }}</div>
</div>


