{% set tag = heading_level ? heading_level : 'h2' %}
{% set stats_classes = [
  'statistics',
  'statistics--' ~ columns,
] %}

<div {{ attributes.addClass(stats_classes) }}>
  <div class="statistics__content container-sm">
    {% if title %}
      <{{ tag }} class="statistics__content--title pseudo-h2">{{ title }}</{{ tag }}>
    {% endif %}
    {% if description %}
      <div class="statistics__content--description">{{ description }}</div>
    {% endif %}
{% if link %}
    {{ include('wateraid:link', {
      text: link.title,
      link: link.url,
      type: 'text',
    }) }}
    {% endif %}
  </div>

  <div class="statistics__items">
    {% for stats_item in stats_items %}
      <div class="statistics__items--item">
        {{ stats_item|raw }}
      </div>
    {% endfor %}
  </div>
</div>
