<div {{ attributes.addClass('properties') }}>
  <ul class="properties__items">
    {% if start_date or end_date %}
      {% if start_date == end_date %}
        <li class="properties__item">
          <span class="properties__item--key"><strong>{{ 'Date'|t }}</strong></span>
          <span class="properties__item--value">{{ start_date|date("l j F Y") }}</span>
        </li>
      {% else %}
        {% if start_date %}
          <li class="properties__item">
            <span class="properties__item--key"><strong>{{ 'Start date'|t }}</strong></span>
            <span class="properties__item--value">{{ start_date|date("l j F Y") }}</span>
          </li>
        {% endif %}

        {% if end_date %}
          <li class="properties__item">
            <span class="properties__item--key"><strong>{{ 'End date'|t }}</strong></span>
            <span class="properties__item--value">{{ end_date|date("l j F Y") }}</span>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}

    {% for key,item in items['#items'] %}
      <li class="properties__item">
        <span class="properties__item--key"><strong>{{ item.key }}</strong></span>
        <span class="properties__item--value">{{ item.value }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
