{% set tag = heading_level ? heading_level : 'h2' %}
{% set donate_block_classes = [
  'donate-block',
  'donate-block--' ~ theme,
] %}

<div {{ attributes.addClass(donate_block_classes) }}>
  <div class="donate-block__wrapper">
    {% if title %}
      <{{ tag }} class="donate-block__title pseudo-h2">{{ title }}</{{ tag }}>
    {% endif %}

    {% if content %}
      <div class="donate-block__content">{{ content }}</div>
    {% endif %}
  </div>

  <div class="donate-block__widget">
    {{ widget }}
  </div>

</div>
