
<div {{ attributes }}>
  <div class="site-header__utility-navigation utility-navigation utility-navigation--desktop" role="navigation" aria-label="Global menu">
    <nav class="utility-navigation__container">
      <ul class="utility-navigation__menu">
        {% if wash_matters_url %}
          <li>
            {{ link('WASH Matters (policy and practice)'|t, wash_matters_url, {'class': ['"utility-navigation__menu-link']}) }}
          </li>
        {% endif %}
        <li>{{ language_switcher }}</li>
        <li>
          <button class="utility-navigation__menu-link utility-navigation__menu-link--site-selector-btn utility-navigation__link-with-icon js-site-selector-btn" aria-expanded="false" aria-controls="site-selector-panel">
            Site selector
            <span class="icon icon-chevron-down">
              <svg>
                <use href="{{ get_spritemap() }}#wa-utility-chevron" />
              </svg>
            </span>
          </button>
          <div id="site-selector-panel" class="utility-navigation__site-selector js-site-selector-panel">
            {{ site_selector }}
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
