{% set card_classes = [
  'card',
  'card--' ~ variant,
  'card--link',
] %}

<div {{ attributes.addClass(card_classes).setAttribute('data-component', 'card') }}>

  <div class="card__image">
    {% if image|render %}
      {{ image }}
    {% else %}
      <img src="{{ file_url('/themes/custom/wateraid/images/png/card-fallback.png') }}" alt=""/>
    {% endif %}
  </div>

  <div class="card__body">
    <h3 class="card__heading">
      <a href="{{ url }}" class="card__link">{{ heading }}</a>
    </h3>

    {% if date %}
      <div class="card__date">
        {{ date|date("j F Y") }}

        {% if end_date and (date|date("j F Y") != end_date|date("j F Y")) %}
          - {{ end_date|date("j F Y") }}
        {% endif %}

      </div>
    {% endif %}

    {% if authors %}
      <div class="card__authors">
        {% if authors|length <= 2 %}
          {{ authors.0 }}
          {% if authors|length == 2 %}
            {{ include('@wateraid/images/icons/wa-shape-drop.svg') }}
            {{ authors.1 }}
          {% endif %}
        {% else %}
          {{ authors|length ~ ' authors'|t }}
        {% endif %}
      </div>
    {% endif %}

    {% if time_to_read %}
      <div class="card__read-time">
        {{ include('@wateraid/images/icons/wa-utility-schedule.svg') }}
        {{ time_to_read|replace({'minute': 'min'}) ~ ' read'|t }}
      </div>
    {% endif %}

    <div class="card__description">
      {{ description }}
    </div>

    {% if tags %}
      <div class="card__tags">
        {% for tag in tags %}
          {% if tag %}
            {{ include('wateraid:content_tag', {
              text: tag,
              size: 'small',
              theme: 'light'
            }) }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
