{% set card_classes = [
  'card',
  'card--' ~ variant,
  'card--' ~ size,
  'card--link',
] %}

<div {{ attributes.addClass(card_classes).setAttribute('data-component', 'card') }}>

  <div class="card__image">
    {% if image|render %}
      {{ image }}
    {% else %}
      <img src="/{{ active_theme_path() }}/images/png/card-fallback.png" alt=""/>
    {% endif %}
  </div>

  <div class="card__body">
    <div class="card__bundle">
      {{ bundle }}
    </div>
    <h3 class="card__heading">
      <a href="{{ url }}" class="card__link">{{ heading }}{% if is_external %}<span class="visually-hidden"> - {{ 'external' }}</span>{% endif %}
      </a>
    </h3>

    {% if date %}
      <div class="card__date">
        {{ include('@wateraid/images/icons/wa-utility-calendar.svg') }}
        {{ date|date("j F Y") }}
        {% if end_date and (date|date("j F Y") != end_date|date("j F Y")) %}
          - {{ end_date|date("j F Y") }}
        {% endif %}
      </div>
    {% endif %}

    {% if authors %}
      <div class="card__authors">
        {{ include('@wateraid/images/icons/wa-utility-person.svg') }}
        {% if authors|length <= 2 %}
          {{ authors.0 }}
          {% if authors|length == 2 %}
            , {{ authors.1 }}
          {% endif %}
        {% else %}
          {{ authors|length ~ ' authors'|t }}
        {% endif %}
      </div>
    {% endif %}

    {% if time_to_read %}
      <div class="card__read-time">
        {{ include('@wateraid/images/icons/wa-utility-schedule.svg') }}
        {{ time_to_read|replace({'minute': 'min'}) ~ ' read'|t }}
      </div>
    {% endif %}

    <div class="card__description">
      {{ description }}
    </div>

    {% if is_external %}
      <div class="card__external">
        {{ include('@wateraid/images/icons/wa-external.svg') }}
      </div>
    {% endif %}
  </div>
</div>
