{% set card_classes = [
  'card',
  'card--' ~ variant,
] %}

<div {{ attributes.addClass(card_classes).setAttribute('data-component', 'card') }}>

  <div class="card__body">

    {% if bundle %}
      <div class="card__tag">
        {{ include('wateraid:content_tag', {
          text: bundle,
          size: 'small',
          theme: 'light'
        }) }}
      </div>
    {% endif %}

    <h2 class="card__heading pseudo-h6">
      <a href="{{ url }}" class="card__link">{{ heading }}</a>
    </h2>

    <div class="card__description">
      {{ description }}
    </div>

  </div>

  <div class="card__image">
    {% if image|render %}
      {{ image }}
    {% endif %}
  </div>
</div>
