{% if link %}
  <a href="{{ link }}" class="button button--{{ type }} button--{{ theme }}" aria-label="{{ text }}">
{% else %}
    <button id="{{ id }}" class="button button--{{ type }} button--{{ theme }}" aria-label="{{ text }}">
{% endif %}

  {% if type == 'primary' or type == 'secondary' %}
    {{ text }}
  {% endif %}

  {% if type == 'donate' %}
    <span class="button__svg">
        {{ include('@wateraid/images/icons/wa-utility-lock.svg') }}
      </span>
    {{ text }}
  {% endif %}

  {% if type == 'icon' or type == 'social' or type == 'icon-small' %}
    {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
    {{ include(icon_url) }}
  {% endif %}

{% if link %}
  </a>
{% else %}
  </button>
{% endif %}
