{% set base_classes = ['button', 'button--' ~ type, 'button--' ~ theme, disabled == 'true' ? 'button--disabled' : ''] %}
{% set all_classes = classes ? base_classes|merge(classes) : base_classes %}
{% set button_attributes = create_attribute(attributes|default({}))
  .addClass(all_classes)
  .setAttribute('aria-label', text)
%}

{% if link %}
<a href="{{ link }}" class="{{ all_classes|join(' ') }}" aria-label="{{ text }}" tabindex="{{ disabled == 'true' ? '-1' : '0'}}">
  {% else %}
  <button {{ button_attributes }} id="{{ id }}" aria-label="{{ text }}" {{ attribute ? attribute.attr ~ '=' ~ attribute.value }} tabindex="{{ disabled == 'true' ? '-1' : '0'}}">
    {% endif %}

    {% if type == 'primary' or type == 'secondary' %}
      {{ text }}
      {% if icon|render %}
        <span class="button__svg">
        {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
          {{ include(icon_url) }}
      </span>
      {% endif %}
    {% endif %}

    {% if type == 'donate' %}
      <span class="button__svg">
      {% if icon|render %}
        {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
        {{ include(icon_url) }}
      {% endif %}
      </span>
      {{ text }}
    {% endif %}

    {% if type == 'icon' or type == 'social' or type == 'icon-small' %}
      {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
      {{ include(icon_url) }}
    {% endif %}


    {% if type == 'menu' %}
      <span class="icon icon__menu-button-open">
        <svg>
          <use xlink:href="{{ get_spritemap() }}#wa-utility-menu"></use>
        </svg>
      </span>
      <span class="icon icon__menu-button-close">
        <svg>
          <use xlink:href="{{ get_spritemap() }}#wa-utility-close"></use>
        </svg>
      </span>
    {% endif %}


    {% if link %}
</a>
{% else %}
  </button>
{% endif %}
