{%
  set button_attributes = create_attribute(attributes|default({}))
  .addClass('button', 'button--' ~ type, 'button--' ~ theme)
  .setAttribute('aria-label', text)
%}

{% if link %}
<a href="{{ link }}" class="button button--{{ type }} button--{{ theme }}" aria-label="{{ text }}">
  {% else %}
  <button {{ button_attributes }} id="{{ id }}" class="button button--{{ type }} button--{{ theme }}" aria-label="{{ text }}" {{ attribute ? attribute.attr ~ '=' ~ attribute.value }} >
    {% endif %}

    {% if type == 'primary' or type == 'secondary' %}
      {{ text }}
      {% if icon|render %}
        <span class="button__svg">
        {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
          {{ include(icon_url) }}
      </span>
      {% endif %}
    {% endif %}

    {% if type == 'donate' %}
      <span class="button__svg">
      {% if icon|render %}
        {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
        {{ include(icon_url) }}
      {% endif %}
      </span>
      {{ text }}
    {% endif %}

    {% if type == 'icon' or type == 'social' or type == 'icon-small' %}
      {% set icon_url = '@wateraid/images/icons/' ~ icon ~ '.svg' %}
      {{ include(icon_url) }}
    {% endif %}

    {% if link %}
</a>
{% else %}
  </button>
{% endif %}
