{% set text_media_classes = [
  'm-text-media',
  'm-text-media--' ~ alignment,
] %}

<div {{ attributes.addClass(text_media_classes) }}>
  <div class="m-text-media__text">
    {{ include('wateraid:rich_text', { text: text }, with_context = false) }}

    {% if link.title and link.url %}
      {{ include('wateraid:link', {
        text: link.title,
        link: link.url,
        type: 'text',
      }) }}
    {% endif %}
  </div>

  <div class="m-text-media__media">
    {% if media_type == 'dam_image' %}
      {{ include('wateraid:image', {
        image: media,
        caption: caption,
        credit: credit,
        width: 'full',
        caption_display: caption_display
      }) }}
    {% else %}
      {{ include('wateraid:video', {
        video: media,
        type: 'remote',
        caption: caption,
        image: thumbnail,
        credit: credit,
        width: 'full',
      }, with_context: false) }}
    {% endif %}
  </div>
</div>
