{% set classes = [
  'accordion',
  search == '1' ? 'accordion--search' : 'accordion--default'
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="accordion__content">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if description %}
      <div>{{ description }}</div>
    {% endif %}
  </div>

  {% if search == '1' %}
    <div class="accordion__search">
      <label for="accordionSearch">{{ search_label ? search_label : 'Search' }}</label>
      {% if search_description %}
        <span class="accordion__search--description" id="accordionSearchDesc">{{ search_description }}</span>
      {% endif %}
      <div class="accordion__search--wrapper">
        <input type="text" id="accordionSearch" aria-describedby="accordionSearchDesc">
        {{ include('wateraid:button', {
          text: 'Search',
          type: 'primary',
          theme: colour == 'light',
          icon: 'wa-utility-search',
          id:'accordionSearchButton'
        }) }}
      </div>
    </div>
  {% endif %}

  <div class="accordion__wrapper">
    {% for accordion_item in accordion_items %}
      {{ accordion_item|raw }}
    {% endfor %}
  </div>
</div>
