{% set tag = heading_level ? heading_level : 'h2' %}
<div class="container-sm accordion {{ search == '1' ? 'accordion--search' : 'accordion--default'}}" {{ anchor_id ? 'id=' ~ anchor_id : '' }}>
  <div class="accordion__content">
    {% if title %}
      <{{ tag }} class="pseudo-h2">{{ title }}</{{ tag }}>
    {% endif %}
    {% if description %}
      <div class="accordion__description">{{ description }}</div>
    {% endif %}
  </div>

  {% if search == '1' %}
    <div class="accordion__search">
      <label for="accordionSearch">{{ search_label ? search_label : 'Search' }}</label>
      {% if search_description %}
        <span class="accordion__search--description" id="accordionSearchDesc">{{ search_description }}</span>
      {% endif %}
      <div class="accordion__search--wrapper">
        <input type="text" id="accordionSearch" aria-describedby="accordionSearchDesc">
        {{ include('wateraid:button', {
          text: 'Search',
          type: 'primary',
          theme: colour == 'light',
          icon: 'wa-utility-search',
          id:'accordionSearchButton'
        }) }}
      </div>
    </div>
  {% endif %}

  <div class="accordion__wrapper">
    {% for accordion_item in accordion_items %}
      {{ accordion_item|raw }}
    {% endfor %}
  </div>
</div>
