<header role="banner" {{ attributes.addClass(['site-header', 'js-site-header']).setAttribute('role', 'banner') }}>

  {{ include('wateraid:utility_navigation', {
    is_desktop: true,
    language_switcher: blocks.wateraid_languageswitcher,
    site_selector: blocks.wateraid_siteselector,
    wash_matters_url: wash_matters_url
  }, false) }}

  <div class="site-header__main">
    <div class="site-header__colour-wrapper">

      <div class="site-header__container">

        <div class="site-header__logo">
          <a href="{{ home_page_url }}" class="site-header__logo-link">
            <span class="site-header__logo-image">
              {{ include('@wateraid/images/icons/wateraid-logo.svg') }}
            </span>
          </a>
        </div>

        <div class="site-header__mobile-actions">
          {% if primary_navigation %}
            {% for link in primary_navigation['#items'] %}
              {% if link.original_link.getEntity().field_donate_link.0.value %}
                {{ include('wateraid:button', {
                  classes: ['site-header__mobile-donate-btn'],
                  text: link.title,
                  url: link.url.toString(),
                  type: 'donate',
                }, false) }}
              {% endif %}
            {% endfor %}
          {% endif %}

          {{ include('wateraid:button', {
            classes:[
                'site-header__open-close-mobile-menu-btn',
                'js-menu-open-close-btn'
              ],
            attribute: {
              attr: 'aria-controls',
              value: 'mobile-nav'
            },
            text: 'Open / close menu',
            type: 'menu',
            icon: 'wa-utility-menu',
          }, false) }}
        </div>

        <a href="{{ home_page_url }}" class="main-site-link">{{ "Main site"|t }}</a>

        {% if primary_navigation %}
          {{ include ('wateraid:primary_navigation', {
            menu: primary_navigation,
            wash_matters_url: wash_matters_url,
          }, false) }}
        {% endif %}

      </div>
    </div>
  </div>
</header>
