{% set percent_1 = sg_1_figure / (sg_1_figure + sg_2_figure) * 100 %}
{% set percent_2 = sg_2_figure / (sg_1_figure + sg_2_figure) * 100 %}
{% set offset = 100 - percent_1 + 50 %}

<div class="spend">
  {#  <svg width="100%" height="100%" viewBox="0 0 42 42" class="spend__svg"> #}
  {#    <circle class="spend__svg--hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle> #}
  {#    <circle class="spend__svg--ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" #}
  {#            stroke-width="10"></circle> #}

  {#    <circle class="spend__svg--segment-1" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ce4b99" #}
  {#            stroke-width="10" stroke-dasharray="{{ percent_1 }} {{ percent_2 }}" stroke-dashoffset="50"></circle> #}
  {#    <circle class="spend__svg--segment-2" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#b1c94e" #}
  {#            stroke-width="10" stroke-dasharray="{{ percent_2 }} {{ percent_1 }}" #}
  {#            stroke-dashoffset="{{ offset }}"></circle> #}
  {#  </svg> #}

  <h2 class="spend__title pseudo-h4">
    {{ title }}
  </h2>
  <div class="spend__copy">
    {{ copy }}
  </div>

  <div class="spend__diagram diagram-1 active">
    <figure class="spend__figure">
      <div class="spend__segment segment-1">
        <svg width="340" height="339" viewBox="0 0 340 339" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M170 2C262.784 2.00001 338 77.2129 338 169.993C338 254.633 275.031 326.055 191.056 336.663L179.944 248.715C219.065 243.823 249.333 210.447 249.333 170C249.333 126.185 213.815 90.667 170 90.667C126.188 90.667 90.6707 126.182 90.667 169.993H2C2.00023 77.2129 77.2163 2 170 2Z"
            fill="#006BD9"/>
          <path
            d="M170 2V0V2ZM338 169.993H340H338ZM191.056 336.663L189.071 336.914L189.322 338.898L191.306 338.647L191.056 336.663ZM179.944 248.715L179.696 246.73L177.709 246.979L177.96 248.966L179.944 248.715ZM170 90.667V88.667V90.667ZM90.667 169.993V171.993H92.6668L92.667 169.993L90.667 169.993ZM2 169.993H0L-5.00679e-06 171.993H2V169.993ZM170 2V4C261.679 4.00001 336 78.3175 336 169.993H338H340C340 76.1082 263.888 1.32322e-05 170 0V2ZM338 169.993H336C336 253.625 273.78 324.197 190.805 334.679L191.056 336.663L191.306 338.647C276.281 327.913 340 255.64 340 169.993H338ZM191.056 336.663L193.04 336.412L181.929 248.464L179.944 248.715L177.96 248.966L189.071 336.914L191.056 336.663ZM179.944 248.715L180.193 250.699C220.302 245.683 251.333 211.468 251.333 170H249.333H247.333C247.333 209.425 217.829 241.962 179.696 246.73L179.944 248.715ZM249.333 170H251.333C251.333 125.081 214.919 88.667 170 88.667V90.667V92.667C212.71 92.667 247.333 127.29 247.333 170H249.333ZM170 90.667V88.667C125.083 88.667 88.6708 125.077 88.667 169.993L90.667 169.993L92.667 169.993C92.6706 127.286 127.292 92.667 170 92.667V90.667ZM90.667 169.993V167.993H2V169.993V171.993H90.667V169.993ZM2 169.993H4C4.00023 78.3175 78.3208 4 170 4V2V0C76.1118 4.05312e-06 0.000231385 76.1082 0 169.993H2Z"
            fill="#006BD9"/>
        </svg>

      </div>
      <div class="spend__segment segment-2" tabindex="0">
        <svg width="170" height="152" viewBox="0 0 170 152" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M76.7539 3C78.3227 42.652 110.963 74.3164 151 74.3164C153.132 74.3164 155.243 74.2235 157.33 74.0469L166.568 147.171C86.6487 155.655 14.286 98.6443 4.16699 18.5488C3.51513 13.389 3.13661 8.19862 3.03125 3H76.7539Z"
            fill="#FF96E6" stroke="#151435" stroke-width="6"/>
        </svg>
      </div>
    </figure>
    <div class="spend__info">
      <h3 class="spend__info-title">
        <span class="spend__amount pseudo-h5">{{ sg_1_figure }}</span>
        {{ sg_1_title }}
      </h3>
      {{ sg_1_copy }}
    </div>
  </div>
  <div class="spend__diagram diagram-2">
    <figure class="spend__figure">
      <div class="spend__segment segment-1" tabindex="0">
        <svg width="348" height="348" viewBox="0 0 348 348" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M174 6C266.784 6.00001 342 81.2129 342 173.993C342 258.633 279.031 330.055 195.056 340.663L183.944 252.715C223.065 247.823 253.333 214.447 253.333 174C253.333 130.185 217.815 94.667 174 94.667C130.188 94.667 94.6707 130.182 94.667 173.993H6C6.00023 81.2129 81.2163 6 174 6Z"
            fill="#006BD9"/>
          <path
            d="M174 6V0V6ZM342 173.993H348V173.993L342 173.993ZM195.056 340.663L189.103 341.415L189.855 347.368L195.808 346.616L195.056 340.663ZM183.944 252.715L183.2 246.761L177.239 247.507L177.992 253.467L183.944 252.715ZM174 94.667V88.667V94.667ZM94.667 173.993V179.993H100.666L100.667 173.994L94.667 173.993ZM6 173.993L0 173.993L-1.4782e-05 179.993H6V173.993ZM174 6V12C263.47 12 336 84.5268 336 173.993L342 173.993L348 173.993C348 77.8989 270.097 1.38283e-05 174 0V6ZM342 173.993H336C336 255.61 275.28 324.481 194.304 334.71L195.056 340.663L195.808 346.616C282.782 335.629 348 261.656 348 173.993H342ZM195.056 340.663L201.008 339.911L189.897 251.963L183.944 252.715L177.992 253.467L189.103 341.415L195.056 340.663ZM183.944 252.715L184.689 258.668C226.774 253.405 259.333 217.51 259.333 174H253.333H247.333C247.333 211.383 219.356 242.24 183.2 246.761L183.944 252.715ZM253.333 174H259.333C259.333 126.872 221.128 88.667 174 88.667V94.667V100.667C214.501 100.667 247.333 133.499 247.333 174H253.333ZM174 94.667V88.667C126.874 88.667 88.671 126.868 88.667 173.993L94.667 173.993L100.667 173.994C100.67 133.496 133.501 100.667 174 100.667V94.667ZM94.667 173.993V167.993H6V173.993V179.993H94.667V173.993ZM6 173.993L12 173.993C12.0002 84.5268 84.5298 12 174 12V6V0C77.9028 4.29153e-06 0.000236988 77.8989 0 173.993L6 173.993Z"
            fill="#151435"/>
        </svg>
      </div>
      <div class="spend__segment segment-2">
        <svg width="194" height="173" viewBox="0 0 194 173" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M90.667 2.0127C90.667 45.8273 126.185 81.3457 170 81.3457C173.368 81.3457 176.687 81.135 179.945 80.7275L191.056 168.67C99.0036 180.298 14.9541 115.104 3.3252 23.0557C2.44291 16.0719 2 9.03923 2 2H90.667C90.667 2.00423 90.667 2.00846 90.667 2.0127Z"
            fill="#FF96E6"/>
          <path
            d="M170 81.3457V83.3457V81.3457ZM179.945 80.7275L181.93 80.4769L181.679 78.4951L179.697 78.743L179.945 80.7275ZM191.056 168.67L191.306 170.654L193.291 170.403L193.04 168.419L191.056 168.67ZM3.3252 23.0557L1.34097 23.3063L1.34097 23.3063L3.3252 23.0557ZM2 2V0H0V2L2 2ZM90.667 2L92.667 2.00031L92.6673 0H90.667V2ZM90.667 2.0127H88.667C88.667 46.9319 125.081 83.3457 170 83.3457V81.3457V79.3457C127.29 79.3457 92.667 44.7227 92.667 2.0127H90.667ZM170 81.3457V83.3457C173.452 83.3457 176.854 83.1298 180.194 82.7121L179.945 80.7275L179.697 78.743C176.521 79.1402 173.285 79.3457 170 79.3457V81.3457ZM179.945 80.7275L177.961 80.9782L189.071 168.921L191.056 168.67L193.04 168.419L181.93 80.4769L179.945 80.7275ZM191.056 168.67L190.805 166.686C99.8488 178.176 16.7999 113.758 5.30942 22.805L3.3252 23.0557L1.34097 23.3063C13.1083 116.451 98.1585 182.421 191.306 170.654L191.056 168.67ZM3.3252 23.0557L5.30942 22.805C4.43764 15.9043 4 8.95534 4 2L2 2L0 2C3.57628e-07 9.12312 0.448192 16.2396 1.34097 23.3063L3.3252 23.0557ZM2 2V4H90.667V2V0H2V2ZM90.667 2L88.667 1.99969C88.667 2.0041 88.667 2.00891 88.667 2.0127H90.667H92.667C92.667 2.00802 92.667 2.00436 92.667 2.00031L90.667 2Z"
            fill="#FF96E6"/>
        </svg>
      </div>
    </figure>
    <div class="spend__info">
      <h3 class="spend__info-title">
        <span class="spend__amount pseudo-h5">{{ sg_2_figure }}</span>
        {{ sg_2_title }}
      </h3>
      {{ sg_2_copy }}
    </div>
  </div>


</div>

