<header role="banner" {{ attributes.addClass(['site-header-donate']).setAttribute('role', 'banner') }}>

  <div class="site-header__main">
    <div class="site-header__colour-wrapper">

      <div class="site-header__container">

        <div class="site-header__logo">
          <button class="site-header__logo-link">
            <span class="site-header__logo-image">
              {{ include('@wateraid/images/icons/wateraid-logo.svg') }}
            </span>
          </button>
        </div>

        <div class="site-header__check">
          {{ include('wateraid:button', {
            classes: ['site-header__check-close'],
            text: 'Stay in donation process'|t,
            type: 'primary',
            theme: 'light'
          }, false) }}

          {{ include('wateraid:button', {
            classes: ['site-header__check-redirect'],
            text: 'Return to homepage'|t,
            link: home_page_url,
            type: 'primary',
            theme: 'light'
          }, false) }}
        </div>

        {% if donate_header_menu %}
          <div class="site-header__donate-header-menu">
            {{ donate_header_menu }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</header>
