{% set classes = [
  'image-gallery',
  'image-gallery--' ~ theme,
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="image-gallery__wrapper">
    <div class="image-gallery__content">
      {% if title %}
        <h2 class="image-gallery__content--title">{{ title }}</h2>
      {% endif %}
      {% if description %}
        <div class="image-gallery__content--description">{{ description }}</div>
      {% endif %}
      {% if link.title and link.url %}
        <div class="image-gallery__content--link">
          {{ include('wateraid:link', {
            text: link.title,
            link: link.url,
            type: 'text',
          }) }}
        </div>
      {% endif %}

      <div class="image-gallery__controls desktop">
        {{ include('wateraid:button', {
          id: 'next',
          text: 'Next'|t,
          link: '',
          type: 'icon',
          theme,
          icon: 'wa-utility-arrow-right'
        }) }}

        {{ include('wateraid:button', {
          id: 'next',
          text: 'Next'|t,
          link: '',
          type: 'icon',
          theme,
          icon: 'wa-utility-arrow'
        }) }}
      </div>
    </div>

    <div class="image-gallery__items">
      {% for image_item in image_items %}
        <div class="image-gallery__item">
          {{ image_item|raw }}
        </div>
      {% endfor %}
    </div>

    <div class="image-gallery__controls mobile">
      {{ include('wateraid:button', {
        id: 'next',
        text: 'Next'|t,
        link: '',
        type: 'icon',
        theme,
        icon: 'wa-utility-arrow-right'
      }) }}

      {{ include('wateraid:button', {
        id: 'next',
        text: 'Next'|t,
        link: '',
        type: 'icon',
        theme,
        icon: 'wa-utility-arrow'
      }) }}
    </div>
  </div>

</div>
