<div {{ attributes.addClass('primary-navigation').setAttribute('role', 'navigation').setAttribute('aria-label', 'Main navigation') }}>

  {% set items = items|default(menu['#items']) %}

  {# Meganav navigation. #}
  <nav class="meganav" id="meganav">
    <ul class="meganav__level-1">
      {# Iterate menu links. #}
      {% for link in items %}
        {% set level_1_index = loop.index %}
        <li>
          {% if link.below %}
            <button
              class="meganav__level-1-link primary-navigation__level-1-link primary-navigation__link-with-icon"
              type="button"
              data-level2-trigger="{{ level_1_index }}"
              aria-controls="meganav-level-2-child-of-{{ level_1_index }}"
              aria-expanded="false"
            >{{ link.title }}
              <span class="icon icon-chevron-down">
                <svg>
                  <use href="{{ get_spritemap() }}#wa-utility-chevron" />
                </svg>
              </span>
            </button>
          {% else %}
            <a class="meganav__level-1-link primary-navigation__level-1-link" href="{{ link.url }}">{{ link.title }}</a>
          {% endif %}

          {% if link.below %}
            {# Start building meganav panel for each level 1 item with children. #}
            <div id="meganav-level-2-child-of-{{ level_1_index }}" class="meganav__panel" data-meganav-panel-id="{{ level_1_index }}">
              <div class="meganav__panel-inner">
                <div class="meganav__col meganav__col--first">
                  <a class="meganav__level-1-panel-title-link" href="{{ link.url }}">{{ link.title }}</a>
                  {% set menu_level_2_heading_description = link.original_link.getEntity().field_description.0.value %}
                  {% if menu_level_2_heading_description is not empty %}
                    <div class="description">
                      <p>{{ menu_level_2_heading_description|raw|nl2br }}</p>
                    </div>
                  {% endif %}
                </div>
                {% if link.below %}
                  {% set level_2_items = link.below %}

                  {# Check if any level 2 items have a level 3 menu available. #}
                  {% set has_any_level_3_items = false %}
                  {% for link in level_2_items %}
                    {% if link.below is not empty %}
                      {% set has_any_level_3_items = true %}
                    {% endif %}
                  {% endfor %}

                  {# Start rendering out level 2 items. #}
                  {% if has_any_level_3_items %}

                    <div class="meganav__col meganav__col--second">
                      <ul class="meganav__level-2">
                        {% for link in level_2_items %}
                          {% set level_2_index = loop.index %}
                          {% set level_3_id = level_1_index ~ '-' ~ level_2_index %}
                          <li class="meganav__level-2-item">
                            {% if link.below is empty %}
                              {{ link(link.title, link.url,
                                {'class': [
                                  'meganav__level-2-link',
                                  'primary-navigation__level-2-link',
                                ]}) }}
                            {% else %}
                              <button
                                class="meganav__level-2-link  primary-navigation__level-2-link primary-navigation__link-with-icon"
                                {% if link.below %}data-level3-trigger="{{ level_3_id }}"{% endif %}
                                aria-controls="meganav-level-3-child-of-{{ level_3_id }}"
                                aria-expanded="false"
                              >
                                {{ link.title }}
                                <span class="icon icon-chevron-right">
                                  <svg>
                                    <use href="{{ get_spritemap() }}#wa-utility-chevron" />
                                  </svg>
                                </span>
                              </button>
                              {# Start rendering out level 3 items. #}
                              {% set level_3_items = link.below %}
                              <div id="meganav-level-3-child-of-{{ level_3_id }}" class="meganav__level-3" data-level-3-id="{{ level_3_id }}">
                                {{ link(link.title,link.url,
                                  {'class': [
                                    'meganav__level-3-heading-link',
                                    'meganav__level-3-link',
                                    'primary-navigation__level-3-link',
                                  ]}) }}
                                <ul>
                                  {% for link in level_3_items %}
                                    <li>
                                      {{ link(link.title,link.url,
                                        {'class': [
                                          'meganav__level-3-link',
                                          'primary-navigation__level-3-link',
                                        ]}) }}
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>

                  {% else %}

                    {# If no level 3 items at all in this panel then the level
                    2 items can occupy both cols. #}
                    {% if level_2_items|length > 8 %}
                      {{ dump(level_2_items) }}
                      {# Split into 2 groups. If it's an add number, always make
                      sure the first col gets the additional. #}
                      {% set split_point = (level_2_items|length / 2)|round(0, 'ceil') %}
                      {% set level_2_first_col_links = level_2_items|slice(0, split_point) %}
                      {% set level_2_second_col_links = level_2_items|slice(split_point) %}
                    {% else %}
                      {% set level_2_first_col_links = level_2_items %}
                    {% endif %}

                    <div class="meganav__col meganav__col--second">
                      <ul class="meganav__level-2">
                        {% for link in level_2_first_col_links %}
                          <li class="meganav__level-2-item">
                            {{ link(link.title, link.url,
                              {'class': [
                                'meganav__level-2-link',
                                'primary-navigation__level-2-link',
                              ]}) }}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% if level_2_second_col_links %}
                      <div class="meganav__col meganav__col--third">
                        <ul class="meganav__level-2">
                          {% for link in level_2_second_col_links %}
                            <li class="meganav__level-2-item">
                              {{ link(link.title, link.url,
                                {'class': [
                                  'meganav__level-2-link',
                                  'primary-navigation__level-2-link',
                                ]}) }}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}

                  {% endif %}

                {% endif %}
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  {# Mobile menu navigation.  #}
  {% import _self as menus %}
  {% macro menu_links(items, attributes, menu_level, parent_index, parent_link, level_2_prefix) %}
    {% import _self as menus %}
    {% if items %}
      {% set menu_level_attrs = create_attribute().addClass(['mobile-nav__level-' ~ menu_level]) %}
      {% if menu_level > 1 %}
        {% set menu_level_attrs = menu_level_attrs
          .setAttribute('data-mobile-submenu-id', parent_index)
          .setAttribute('id', 'meganav-level-' ~ menu_level ~ '-child-of-' ~ parent_index)
        %}
      {% endif %}
      <div {{ menu_level_attrs }}>
        <ul class="mobile-nav__container">

          {% if menu_level > 1 %}
            <button class="mobile-nav__back-btn js-mobile-nav-back-btn primary-navigation__link-with-icon">
              <span class="icon icon-arrow-left">
                <svg>
                  <use href="{{ get_spritemap() }}#wa-shape-arrow" />
                </svg>
              </span>
              Back
            </button>
          {% endif %}

          {% if parent_link %}
            {% set parent_link_attrs = create_attribute().addClass([
              'mobile-nav__level-submenu-heading-link',
              'mobile-nav__level-' ~ menu_level ~ '-submenu-heading-link',
              'mobile-nav__level-' ~ menu_level ~ '-link',
              'primary-navigation__level-' ~ menu_level ~'-link',
              'primary-navigation__link-with-icon',
            ]) %}
            <a href="{{ parent_link.url }}" {{ parent_link_attrs }}>
              {{ parent_link.title }}
              {% if menu_level == 2 %}
                <span class="icon icon-arrow-right">
                  <svg>
                    <use href="{{ get_spritemap() }}#wa-shape-arrow" />
                  </svg>
                </span>
              {% endif %}
            </a>

            {% if menu_level == 2 and parent_link.original_link %}
              {% set menu_level_2_heading_description = parent_link.original_link.getEntity().field_description.0.value %}
              {% if menu_level_2_heading_description is not empty %}
                <div class="mobile-nav__level-submenu-heading-description">
                  <p>{{ menu_level_2_heading_description|raw|nl2br }}</p>
                </div>
              {% endif %}
            {% endif %}

          {% endif %}

          {% for item in items %}
            {# Build composite index for level 2 items with children #}
            {% if menu_level == 2 and item.below %}
              {% set index = level_2_prefix ~ '-' ~ loop.index %}
            {% elseif menu_level == 1 %}
              {% set index = loop.index %}
            {% else %}
              {% set index = parent_index ~ '-' ~ loop.index %}
            {% endif %}

            <li{{ item.attributes }}>
              {% if item.below %}
                <button
                  class="mobile-nav__level-{{ menu_level }}-link primary-navigation__level-{{ menu_level }}-link primary-navigation__link-with-icon"
                  type="button"
                  data-level{{ menu_level + 1 }}-trigger="{{ index }}"
                  aria-controls="meganav-level-{{ menu_level + 1 }}-child-of-{{ index }}"
                  aria-expanded="false"
                >{{ item.title }}
                  <span class="icon icon-chevron-right">
                    <svg>
                      <use href="{{ get_spritemap() }}#wa-utility-chevron" />
                    </svg>
                  </span>
                </button>
                {# Pass the current index as prefix for level 2 #}
                {% set next_prefix = menu_level == 1 ? loop.index : level_2_prefix %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1, index, {title: item.title, url: item.url, original_link: item.original_link}, next_prefix) }}
              {% else %}
                {{ link(item.title, item.url, {'class': ['mobile-nav__level-' ~ menu_level ~ '-link', 'primary-navigation__level-' ~ menu_level ~'-link']}) }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endmacro %}

  <nav class="mobile-nav" id="mobile-nav">
    <div class="mobile-nav__slider">
      {{ menus.menu_links(items, attributes, 1, null, {}, null) }}

      <ul class="mobile-nav__utility-menu">
        <li class="mobile-nav__utility-menu-item">
          <button class="utility-nav__link" data-level2-trigger="site-selector">
            Site selector
            <span class="icon icon-chevron-right">
              <svg>
                <use href="{{ get_spritemap() }}#wa-utility-chevron" />
              </svg>
            </span>
          </button>
          <div class="mobile-nav__site-selector" data-mobile-submenu-id="site-selector">
            <div class="mobile-nav__site-selector-inner">
              <button class="mobile-nav__back-btn js-mobile-nav-back-btn primary-navigation__link-with-icon">
                <span class="icon icon-arrow-left">
                  <svg>
                    <use href="{{ get_spritemap() }}#wa-shape-arrow" />
                  </svg>
                </span>
                Back
              </button>
              {{ drupal_block('system_menu_block:site-selector') }}
            </div>
          </div>
        </li>
        <li class="mobile-nav__utility-menu-item">{{ drupal_block('language_block:language_interface') }}</li>
        <li class="mobile-nav__utility-menu-item"><a href="#" >WASH Matters (policy and practice)</a></li>
      </ul>

    </div>
    <div class="mobile-nav__search-btn">

    </div>
  </nav>

{# Ensure menu cacheability metadata is preserved. #}
{{ menu|without(['#items']) }}
