{% set classes = [
  'donate-widget',
] %}

<div {{ attributes.addClass(classes) }}>
  {# Heading  #}
  {% if heading %}
    <div class="donate-widget__heading">
      <h2>{{ heading }}</h2>
    </div>
  {% endif %}

  <!-- Form -->
  <form class="donate-widget__form">
    <!-- Frequency Options -->
    <fieldset class="donate-widget__options-group">
      <legend class="donate-widget__legend">How often can you donate?</legend>
      <div class="donate-widget__options-wrapper">
        <!-- Option: Monthly -->
        <div class="donate-widget__option">
          <input class="donate-widget__radio-input" type="radio" id="freq-monthly" name="frequency" value="monthly"
                 checked>
          <label class="donate-widget__radio-label" for="freq-monthly">Monthly</label>
        </div>
        <!-- Option: One off -->
        <div class="donate-widget__option">
          <input class="donate-widget__radio-input" type="radio" id="freq-one-off" name="frequency" value="one-off">
          <label class="donate-widget__radio-label" for="freq-one-off">One off</label>
        </div>
      </div>
    </fieldset>

    <!-- Amount Options -->
    <fieldset class="donate-widget__options-group">
      <legend class="donate-widget__legend">How much can you donate?</legend>
      <div class="donate-widget__options-wrapper">
        {% for item in donation_amounts %}
          {% set radio_id = 'amount-' ~ item.amount %}

          <div class="donate-widget__option">
            {% if loop.revindex == 2 %}
              <div class="donate-widget__increase-impact">
                Increase your input
              </div>
            {% endif %}
            <input class="donate-widget__radio-input"
                   type="radio"
                   id="{{ radio_id }}"
                   name="amount"
                   value="{{ item.amount }}"
                   {% if loop.index == 1 %}checked{% endif %}>
            <label class="donate-widget__radio-label amount" for="{{ radio_id }}">
              {{ item.amount }}
            </label>
          </div>
        {% endfor %}
      </div>

      <div class="donate-widget__amount-details">
        {% for item in donation_amounts %}
          {% set id = 'details-amount-' ~ item.amount %}

          {% if item.title and item.description %}
            <div id="{{ id }}" class="donate-widget__amount-details--detail">
              {% if item.image %}
                <div class="donate-widget__amount--image">
                  <img loading="lazy" alt="" src="{{ item.image }}"/>
                </div>
              {% endif %}
              <div class="donate-widget__amount--meta">
                <div class="title">{{ item.title }}</div>
                <div class="description">{{ item.description }}</div>
                {% if item.credit %}
                  <div class="donate-widget__amount--meta--credit">
                    {{ item.credit }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="donate-widget__custom-amount">
        <label for="custom_amount">
          Enter a custom amount:
        </label>
        <input type="text"
               id="custom_amount"
               name="custom_amount"/>
      </div>
    </fieldset>

    <div class="donate-widget__form--submit">
      {{ include('wateraid:button', {
        text: button_text,
        link: '/',
        type: 'donate',
        theme: '',
        icon: 'wa-utility-lock'
      }) }}
    </div>
  </form>

  <div class="donate-widget__footer">

    {# Additional link #}
    {% if additional_link.title and additional_link.href %}
      <div class="donate-widget__additional-link">
        <a href="{{ additional_link.href }}">{{ additional_link.title }}</a>
      </div>
    {% endif %}

    {# Payment logos #}
    <div class="donate-widget__payment-logos">
      {% for payment_logo in payment_logos %}
        {% include('@wateraid/images/icons/' ~ payment_logo.src) %}
      {% endfor %}
    </div>

    {# FR logo #}
    <div class="donate-widget__fr-logo">
      {% include('@wateraid/images/icons/wa-fr-logo.svg') %}
    </div>


  </div>
</div>
