{% set tag = heading_level ? heading_level : 'h2' %}
{% set donate_widget_classes = [
  'donate-widget',
] %}

{% set default_monthly_index = config.monthly_index ?? '1'%}
{% set default_one_off_index = config.one_off_index ?? '1'%}
{% set default_fixed_index = config.fixed_payment_index ?? '1'%}

{% set payment_logos = [
  { src: 'wa-visa.svg',
    alt: 'Visa'
  },
  { src: 'wa-mastercard.svg',
    alt: 'Mastercard'
  },
  { src: 'wa-paypal.svg',
    alt: 'PayPal'
  },
  { src: 'wa-apple.svg',
    alt: 'Apple Pay'
  },
  { src: 'wa-google.svg',
    alt: 'Google Pay'
  },
  { src: 'wa-direct-debit.svg',
    alt: 'Direct debit'
  },
] %}

<div {{ attributes.addClass(donate_widget_classes) }}>
  {# Heading #}
  {% if heading %}
    <div class="donate-widget__heading">
      <div class="step-header step-header--webform">
        <span class="step-title__icon">1</span>
      </div>

      {% if variant == 'hero' %}
        <h1>{{ heading }}</h1>
      {% else %}
        <{{ tag }} class="pseudo-h2">{{ heading }}</{{ tag }}>
      {% endif %}
    </div>
  {% endif %}

  <!-- Form -->
  <form class="donate-widget__form">
    <!-- Frequency Options -->
    <fieldset class="donate-widget__options-group">
      <legend class="donate-widget__legend">{{ 'How often can you donate?'|t }}</legend>
      <div class="donate-widget__options-wrapper">
        <!-- Option: Monthly -->
        {% if monthly_amounts|length %}
          {% set monthly_id = 'freq-monthly-' ~ id %}
          <div class="donate-widget__option">
            <input class="donate-widget__radio-input" type="radio" id="{{ monthly_id }}" name="frequency" value="monthly"
              {% if monthly_default == '1' or one_off_amounts|length <= 0 %}checked{% endif %}>
            <label class="donate-widget__radio-label" for="{{ monthly_id }}">Monthly</label>
          </div>
        {% endif %}
        <!-- Option: One off -->
        {% if one_off_amounts|length %}
          {% set one_off_id = 'freq-one-off-' ~ id %}
          <div class="donate-widget__option">
            <input class="donate-widget__radio-input" type="radio" id="{{ one_off_id }}" name="frequency" value="one-off"
              {% if monthly_default == '0' or monthly_amounts|length <= 0 %}checked{% endif %}>
            <label class="donate-widget__radio-label" for="{{ one_off_id }}">One off</label>
          </div>
        {% endif %}
        <!-- Option: Fixed Period -->
        {% if fixed_amounts|length %}
          {% set fixed_id = 'freq-fixed-' ~ id %}
          <div class="donate-widget__option">
            <input class="donate-widget__radio-input" type="radio" id="{{ fixed_id }}" name="frequency" value="fixed_period"
                   {% if monthly_default == '0' or monthly_amounts|length <= 0 %}checked{% endif %}>
            <label class="donate-widget__radio-label" for="{{ fixed_id }}">Fixed Period</label>
          </div>
        {% endif %}
      </div>
    </fieldset>

    <!-- Monthly Options -->
    {% if monthly_amounts|length %}
      <fieldset class="donate-widget__options-group donate-widget__options-group--monthly">
        <legend class="donate-widget__legend">{{ 'How much can you donate?'|t }}</legend>
        <div class="donate-widget__options-wrapper">
          {% for item in monthly_amounts %}
            {% set radio_id = 'monthly-amount-' ~ item.amount ~ '-' ~ id %}

            <div class="donate-widget__option {{ item.amount == 'other' ? 'custom-amount' : '' }}{% if config.hide_desktop_monthly == item.amount %} hide-on-desktop{% endif %}">
              {% if loop.revindex == 2 %}
                <div class="donate-widget__increase-impact">
                  {{ 'Increase your impact'|t }}
                </div>
              {% endif %}
              <input class="donate-widget__radio-input"
                     type="radio"
                     id="{{ radio_id }}"
                     name="monthly_amount"
                     value="{{ item.amount }}"
                     {% if loop.index == default_monthly_index %}checked{% endif %}>
              <label class="donate-widget__radio-label amount" for="{{ radio_id }}">
                {{ item.amount == 'other' ? 'Other' : currency_prefix ~ item.amount }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="donate-widget__amount-details">
          {% for item in monthly_amounts %}
            {% set details_id = 'details-monthly-amount-' ~ item.amount ~ '-' ~ id %}

            {% if item.title or item.description %}
              <div id="{{ details_id }}" class="donate-widget__amount-details--detail">
                {% if item.image %}
                  <div class="donate-widget__amount--image">
                    <img loading="lazy" alt="" src="{{ item.image }}"/>
                  </div>
                {% endif %}
                <div class="donate-widget__amount--meta">
                  {% if item.title %}
                    <div class="title">
                      {% if item.icon %}
                        <span class="icon"><img loading="lazy" alt="" src="{{ item.icon }}"/></span>
                      {% endif %}
                      {{ item.title }}
                    </div>
                  {% endif %}
                  {% if item.description %}
                    <div class="description">{{ item.description }}</div>
                  {% endif %}
                  {% if item.credit %}
                    <div class="donate-widget__amount--meta--credit">
                      {{ item.credit }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="donate-widget__custom-amount donate-widget__custom-amount--monthly">
          <label for="custom_amount_monthly">
            <span class="mobile">{{ 'Or enter a custom amount:'|t }}</span>
            <span class="tablet">{{ 'Enter a custom amount:'|t }}</span>
          </label>
          <span class="donate-widget__custom-amount__currency-prefix">{{ currency_prefix }}</span>
          <input type="text"
                 id="custom_amount_monthly"
                 name="custom_amount_monthly"/>
        </div>
      </fieldset>
    {% endif %}
    <!-- One off Options -->
    {% if one_off_amounts|length %}
      <fieldset class="donate-widget__options-group donate-widget__options-group--one-off is-hidden">
        <legend class="donate-widget__legend">{{ 'How much can you donate?'|t }}</legend>
        <div class="donate-widget__options-wrapper">
          {% for item in one_off_amounts %}
            {% set radio_id = 'amount-' ~ item.amount ~ '-' ~ id %}

            <div class="donate-widget__option {{ item.amount == 'other' ? 'custom-amount' : '' }}{% if config.hide_desktop_one_off == item.amount %} hide-on-desktop{% endif %}">
              {% if loop.revindex == 2 %}
                <div class="donate-widget__increase-impact">
                  {{ 'Increase your impact'|t }}
                </div>
              {% endif %}
              <input class="donate-widget__radio-input"
                     type="radio"
                     id="{{ radio_id }}"
                     name="one_off_amount"
                     value="{{ item.amount }}"
                     {% if loop.index == default_one_off_index %}checked{% endif %}>
              <label class="donate-widget__radio-label amount" for="{{ radio_id }}">
                {{ item.amount == 'other' ? 'Other' : currency_prefix ~ item.amount }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="donate-widget__amount-details">
          {% for item in one_off_amounts %}
            {% set details_id = 'details-amount-' ~ item.amount ~ '-' ~ id %}

            {% if item.title or item.description %}
              <div id="{{ details_id }}" class="donate-widget__amount-details--detail">
                {% if item.image %}
                  <div class="donate-widget__amount--image">
                    <img loading="lazy" alt="" src="{{ item.image }}"/>
                  </div>
                {% endif %}
                <div class="donate-widget__amount--meta">
                  {% if item.title %}
                    <div class="title">
                      {% if item.icon %}
                        <span class="icon"><img loading="lazy" alt="" src="{{ item.icon }}"/></span>
                      {% endif %}
                      {{ item.title }}
                    </div>
                  {% endif %}
                  {% if item.description %}
                    <div class="description">{{ item.description }}</div>
                  {% endif %}
                  {% if item.credit %}
                    <div class="donate-widget__amount--meta--credit">
                      {{ item.credit }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="donate-widget__custom-amount donate-widget__custom-amount--one-off">
          <label for="custom_amount_one_off">
            <span class="mobile">{{ 'Or enter a custom amount:'|t }}</span>
            <span class="tablet">{{ 'Enter a custom amount:'|t }}</span>
          </label>
          <span class="donate-widget__custom-amount__currency-prefix">{{ currency_prefix }}</span>
          <input type="text"
                 id="custom_amount_one_off"
                 name="custom_amount_one_off"/>
        </div>
      </fieldset>
    {% endif %}
    <!-- Fixed Period Options -->
    {% if fixed_amounts|length %}
      <fieldset class="donate-widget__options-group donate-widget__options-group--fixed-period is-hidden">
        <legend class="donate-widget__legend">{{ 'How much can you donate?'|t }}</legend>
        <div class="donate-widget__options-wrapper">
          {% for item in fixed_amounts %}
            {% set radio_id = 'amount-' ~ item.amount ~ '-' ~ id %}

            <div class="donate-widget__option {{ item.amount == 'other' ? 'custom-amount' : '' }}{% if config.hide_desktop_fixed == item.amount %} hide-on-desktop{% endif %}">
              {% if loop.revindex == 2 %}
                <div class="donate-widget__increase-impact">
                  {{ 'Increase your impact'|t }}
                </div>
              {% endif %}
              <input class="donate-widget__radio-input"
                     type="radio"
                     id="{{ radio_id }}"
                     name="fixed_amount"
                     value="{{ item.amount }}"
                     {% if loop.index == default_fixed_index %}checked{% endif %}>
              <label class="donate-widget__radio-label amount" for="{{ radio_id }}">
                {{ item.amount == 'other' ? 'Other' : currency_prefix ~ item.amount }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="donate-widget__amount-details">
          {% for item in fixed_amounts %}
            {% set details_id = 'details-amount-' ~ item.amount ~ '-' ~ id %}

            {% if item.title or item.description %}
              <div id="{{ details_id }}" class="donate-widget__amount-details--detail">
                {% if item.image %}
                  <div class="donate-widget__amount--image">
                    <img loading="lazy" alt="" src="{{ item.image }}"/>
                  </div>
                {% endif %}
                <div class="donate-widget__amount--meta">
                  {% if item.title %}
                    <div class="title">
                      {% if item.icon %}
                        <span class="icon"><img loading="lazy" alt="" src="{{ item.icon }}"/></span>
                      {% endif %}
                      {{ item.title }}
                    </div>
                  {% endif %}
                  {% if item.description %}
                    <div class="description">{{ item.description }}</div>
                  {% endif %}
                  {% if item.credit %}
                    <div class="donate-widget__amount--meta--credit">
                      {{ item.credit }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>
    {% endif %}
    <div class="donate-widget__donation-summary" aria-live="polite" aria-atomic="true">
      <div class="donate-widget__donation-summary__label"></div>
      <div class="donate-widget__donation-summary__amount"></div>
    </div>
    <div class="donate-widget__form--submit">
      {{ include('wateraid:button', {
        text: button_text,
        id: 'donate_submit',
        type: 'donate',
        theme: '',
        icon: 'wa-utility-lock',
        attribute: {
          attr: 'data-location',
          value: webform_node,
        },
      }) }}

      <div class="ssl-logo">
        {% if config.ssl_logo_dark == true %}
          {{ include('@wateraid/images/icons/ssl.svg') }}
        {% else %}
          {{ include('@wateraid/images/icons/ssl-light.svg') }}
        {% endif %}
      </div>

    </div>
  </form>

  <div class="donate-widget__footer">

    {# Additional link #}
    {% if additional_link.title and additional_link.href %}
      <div class="donate-widget__additional-link">
        <a href="{{ additional_link.href }}">{{ additional_link.title }}</a>
      </div>
    {% endif %}

    {# Payment logos #}
    <div class="donate-widget__payment-logos">
      {% for payment_logo in payment_logos %}
        <span class="{{ payment_logo.src|replace({'.svg' : ''}) }}">
          {% include('@wateraid/images/icons/' ~ payment_logo.src) %}
        </span>
      {% endfor %}
      {# FR logo #}
      <span class="donate-widget__fr-logo">
        <a href="https://www.fundraisingregulator.org.uk/directory/wateraid?utm_source=WATERAID&utm_medium=badge" title="Visit the Fundraising Regulator's WaterAid report: opens in new window" target="_blank">
          Fundraising Regulator Logo
        </a>
      </span>
    </div>
  </div>
</div>
