{% set classes = [
  'donate-widget',
] %}

{% set payment_logos = [
  { src: 'wa-visa.svg',
    alt: 'Visa'
  },
  { src: 'wa-mastercard.svg',
    alt: 'Mastercard'
  },
  { src: 'wa-paypal.svg',
    alt: 'PayPal'
  },
  { src: 'wa-apple.svg',
    alt: 'Apple Pay'
  },
  { src: 'wa-google.svg',
    alt: 'Google Pay'
  },
  { src: 'wa-direct-debit.svg',
    alt: 'Direct debit'
  },
] %}

<div {{ attributes.addClass(classes) }}>
  {# Heading #}
  {% if heading %}
    <div class="donate-widget__heading">
      {% if variant == 'hero' %}
        <h1>{{ heading }}</h1>
      {% else %}
        <h2>{{ heading }}</h2>
      {% endif %}
    </div>
  {% endif %}

  <!-- Form -->
  <form class="donate-widget__form">
    <!-- Frequency Options -->
    <fieldset class="donate-widget__options-group">
      <legend class="donate-widget__legend">How often can you donate?</legend>
      <div class="donate-widget__options-wrapper">
        <!-- Option: Monthly -->
        {% if monthly_amounts|length %}
          <div class="donate-widget__option">
            <input class="donate-widget__radio-input" type="radio" id="freq-monthly" name="frequency" value="monthly"
              {% if monthly_default == '1' or one_off_amounts|length <= 0 %}checked{% endif %}>
            <label class="donate-widget__radio-label" for="freq-monthly">Monthly</label>
          </div>
        {% endif %}
        <!-- Option: One off -->
        {% if one_off_amounts|length %}
          <div class="donate-widget__option">
            <input class="donate-widget__radio-input" type="radio" id="freq-one-off" name="frequency" value="one-off"
              {% if monthly_default == '0' or monthly_amounts|length <= 0 %}checked{% endif %}>
            <label class="donate-widget__radio-label" for="freq-one-off">One off</label>
          </div>
        {% endif %}
      </div>
    </fieldset>

    <!-- Monthly Options -->
    {% if monthly_amounts|length %}
      <fieldset class="donate-widget__options-group donate-widget__options-group--monthly">
        <legend class="donate-widget__legend">How much can you donate?</legend>
        <div class="donate-widget__options-wrapper">
          {% for item in monthly_amounts %}
            {% set radio_id = 'monthly-amount-' ~ item.amount %}

            <div class="donate-widget__option">
              {% if loop.revindex == 2 %}
                <div class="donate-widget__increase-impact">
                  Increase your input
                </div>
              {% endif %}
              <input class="donate-widget__radio-input"
                    type="radio"
                    id="{{ radio_id }}"
                    name="monthly_amount"
                    value="{{ item.amount }}"
                    {% if loop.index == 1 %}checked{% endif %}>
              <label class="donate-widget__radio-label amount" for="{{ radio_id }}">
                {{ item.amount == 'other' ? 'Other' : '£' ~ item.amount }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="donate-widget__amount-details">
          {% for item in monthly_amounts %}
            {% set id = 'details-monthly-amount-' ~ item.amount %}

            {% if item.title and item.description %}
              <div id="{{ id }}" class="donate-widget__amount-details--detail">
                {% if item.image %}
                  <div class="donate-widget__amount--image">
                    <img loading="lazy" alt="" src="{{ item.image }}"/>
                  </div>
                {% endif %}
                <div class="donate-widget__amount--meta">
                  <div class="title">
                    {% if item.icon %}
                      <span class="icon"><img loading="lazy" alt="" src="{{ item.icon }}"/></span>
                    {% endif %}
                    {{ item.title }}
                  </div>
                  <div class="description">{{ item.description }}</div>
                  {% if item.credit %}
                    <div class="donate-widget__amount--meta--credit">
                      {{ item.credit }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="donate-widget__custom-amount donate-widget__custom-amount--monthly">
          <label for="custom_amount_monthly">
            Enter a custom amount:
          </label>
          <input type="text"
                id="custom_amount_monthly"
                name="custom_amount_monthly"/>
        </div>
      </fieldset>
    {% endif %}

    <!-- One off Options -->
    {% if one_off_amounts|length %}
      <fieldset class="donate-widget__options-group donate-widget__options-group--one-off{% if monthly_amounts|length %} is-hidden{% endif %}">
        <legend class="donate-widget__legend">How much can you donate?</legend>
        <div class="donate-widget__options-wrapper">
          {% for item in one_off_amounts %}
            {% set radio_id = 'amount-' ~ item.amount %}

            <div class="donate-widget__option">
              {% if loop.revindex == 2 %}
                <div class="donate-widget__increase-impact">
                  Increase your input
                </div>
              {% endif %}
              <input class="donate-widget__radio-input"
                    type="radio"
                    id="{{ radio_id }}"
                    name="one_off_amount"
                    value="{{ item.amount }}"
                    {% if loop.index == 1 %}checked{% endif %}>
              <label class="donate-widget__radio-label amount" for="{{ radio_id }}">
                {{ item.amount == 'other' ? 'Other' : '£' ~ item.amount }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="donate-widget__amount-details">
          {% for item in one_off_amounts %}
            {% set id = 'details-amount-' ~ item.amount %}

            {% if item.title and item.description %}
              <div id="{{ id }}" class="donate-widget__amount-details--detail">
                {% if item.image %}
                  <div class="donate-widget__amount--image">
                    <img loading="lazy" alt="" src="{{ item.image }}"/>
                  </div>
                {% endif %}
                <div class="donate-widget__amount--meta">
                  <div class="title">
                    {% if item.icon %}
                      <span class="icon"><img loading="lazy" alt="" src="{{ item.icon }}"/></span>
                    {% endif %}
                    {{ item.title }}
                  </div>
                  <div class="description">{{ item.description }}</div>
                  {% if item.credit %}
                    <div class="donate-widget__amount--meta--credit">
                      {{ item.credit }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="donate-widget__custom-amount donate-widget__custom-amount--one-off">
          <label for="custom_amount_one_off">
            Enter a custom amount:
          </label>
          <input type="text"
                id="custom_amount_one_off"
                name="custom_amount_one_off"/>
        </div>
      </fieldset>
    {% endif %}

    <div class="donate-widget__form--submit">
      {{ include('wateraid:button', {
        text: button_text,
        id: 'donate_submit',
        type: 'donate',
        theme: '',
        icon: 'wa-utility-lock',
        attribute: {
          attr: 'data-location',
          value: webform_node,
        },
      }) }}
    </div>
  </form>

  <div class="donate-widget__footer">

    {# Additional link #}
    {% if additional_link.title and additional_link.href %}
      <div class="donate-widget__additional-link">
        <a href="{{ additional_link.href }}">{{ additional_link.title }}</a>
      </div>
    {% endif %}

    {# Payment logos #}
    <div class="donate-widget__payment-logos">
      {% for payment_logo in payment_logos %}
        <span class="{{ payment_logo.src|replace({'.svg' : ''}) }}">
          {% include('@wateraid/images/icons/' ~ payment_logo.src) %}
        </span>
      {% endfor %}
    </div>

    {# FR logo #}
    <div class="donate-widget__fr-logo">
      {% include('@wateraid/images/icons/wa-fr-logo.svg') %}
    </div>

  </div>
</div>
