{% set cta_classes = [
  'cta',
  'cta--' ~ variant
] %}

<div {{ attributes.addClass(cta_classes) }}>
  {% if image %}
    <div class="cta__image">
      {{ include('wateraid:image', {
        image,
        caption: media_caption,
        credit: media_credit,
        width: 'full',
        caption_display: 'expandable'
      }) }}
    </div>
  {% endif %}

  {% if video %}
    <div class="cta__video">
      {{ video }}

      <div class="cta__video--play">
        {{ include('wateraid:button', {
          text: 'Play video',
          link: '',
          id: 'cta-play-button',
          type: 'icon',
          icon: 'wa-utility-play',
          theme: 'dark',
        }) }}
      </div>
      <div class="cta__video--pause">
        {{ include('wateraid:button', {
          text: 'Pause video',
          link: '',
          id: 'cta-pause-button',
          type: 'icon',
          icon: 'wa-utility-pause',
          theme: 'dark',
        }) }}
      </div>
    </div>
  {% endif %}

  <div class="cta__content">
    <h2 class="cta__content--title">{{ title }}</h2>

    {% if description %}
      <div class="cta__content--description">
        {{ description }}
      </div>
    {% endif %}

    {% if cta.title and cta.url or link.title and link.url %}
    <div class="cta__links">
        <div class="cta__links--cta">
          {{ include('wateraid:button', {
            text: cta.title,
            link: cta.url,
            type: 'primary',
            theme: colour == 'white' ? 'light' : 'dark'
          }) }}
        </div>
        {% if link.title and link.url %}
          <div class="cta__links--link">
            {{ include('wateraid:link', {
              text: link.title,
              link: link.url,
              type: 'text',
            }) }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
