{% set cta_classes = [
  'cta',
  'cta--' ~ variant,
  'cta--' ~ media_type
] %}
{% set tag = heading_level ? heading_level : 'h2' %}

<div {{ attributes.addClass(cta_classes) }}>
  {% if media_type == 'image' and image %}
    <div class="cta__image">
      {{ include('wateraid:image', {
        image,
        caption: media_caption,
        credit: media_credit,
        width: 'full',
        caption_display: 'expandable'
      }) }}
    </div>
  {% endif %}

  {% if media_type == 'video' and video %}
    <div class="cta__video">
      {{ video }}

      {% if video[0]['#media'].bundle() != 'remote_video' %}
        <div class="cta__video--play">
          {{ include('wateraid:button', {
            text: 'Play video',
            link: '',
            id: 'cta-play-button',
            type: 'icon',
            icon: 'wa-utility-play',
            theme: 'dark',
          }) }}
        </div>
        <div class="cta__video--pause">
          {{ include('wateraid:button', {
            text: 'Pause video',
            link: '',
            id: 'cta-pause-button',
            type: 'icon',
            icon: 'wa-utility-pause',
            theme: 'dark',
          }) }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="cta__content">
    <{{ tag }} class="cta__content--title pseudo-h2">{{ title }}</{{ tag }}>

  {% if description %}
    <div class="cta__content--description">
      {{ description }}
    </div>
  {% endif %}

  {% if cta.title and cta.url or link.title and link.url %}
    <div class="cta__links">
      {% if cta.title and cta.url %}
        <div class="cta__links--cta">
          {{ include('wateraid:button', {
            text: cta.title,
            link: cta.url,
            type: 'primary',
            theme: colour == 'white' ? 'light' : 'dark'
          }) }}
        </div>
      {% endif %}
      {% if link.title and link.url %}
        <div class="cta__links--link">
          {{ include('wateraid:link', {
            text: link.title,
            link: link.url,
            type: 'text',
          }) }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
</div>
