<div {{ attributes.addClass('video--' ~ width ) }}>
  <div class="video__wrapper">
    <div class="video {{ image ? '' : 'video--default' }}">
      <div class="video__container">
        <div class="video__thumbnail">
          {{ image }}
        </div>
        {% if type == 'local' or image %}
          <div class="video__play">
            {{ include('wateraid:button', {
              text: 'Play video',
              link: '',
              id: 'video-play-button',
              type: 'icon',
              icon: 'wa-utility-play',
              theme: 'dark',
            }) }}
          </div>
        {% endif %}
        {{ video }}
      </div>
    </div>

    {% if caption %}
      <div class="video__caption">
        {{ caption }}
        <span class="video__credit">{{ credit }}</span>
      </div>
    {% endif %}

  </div>
</div>
